/* GENERAL */
#root{
  cursor: pointer;
}

.container {
  width: 100%;
}

.padLeft{
  padding-left: 2rem;
}

.mid{
  margin-left: auto;
  margin-right: auto;
}


.text-center{
  text-align: center;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

/* HEADER */
.headerBack{
  background-color: brown;
  height: 10rem;
}

.logo{
  height: 7.5rem;
  padding-top: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* CARDS */
.cardList{
  margin: 1rem;
  justify-content: space-between;
}

.card{
  width: 15rem!important;
  height: 15rem!important;
  background-color: rgb(235, 235, 235);
  text-align: center;
  border-radius: 10px;
  margin: 0.5rem;
}

.card:hover{
  transition: 1s ease-in-out;
  transform: scale(1.2);
}

.card img{
  padding-top: 1rem;
  height: 7rem;
}


.card img:hover{
  transition: 1s ease;
  transition-delay: 50ms;
  transition-timing-function: ease !important;
  transition-property: all;
  transform: scale(1.2);
}

.card h1:hover{
  transition: 1s ease;
  color: brown;
}

.id{
  padding-top: 1rem;
  padding-right: 0.5rem;
  color: rgb(124, 112, 112);
}

.flexbox{
  display: flex;
  text-align: center;
  flex-wrap: wrap !important;
}

/* SEARCH BAR & BUTTONS */
input{
  width: 40rem;
  height: 1.8rem;
  border-radius: 8px;
  border-color: rgb(182, 182, 182);
  border-width: 0.5px;
  color: rgb(44, 44, 44);
  margin-top: 2rem;
}

.btnContainer{
  display: flex;
}

.btn{
  margin: 1rem;
  background-color: rgb(29, 29, 29);
  padding: 0.5rem 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: aliceblue;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
}

.icon{
  font-size: 2rem;
  vertical-align: middle !important;
}

/* MORE INFO */

.col{
  min-width: 20rem;
}

.moreInfo img{
  height: 20rem;
}

.padTop{
  padding-top: 2rem;
}

.moreInfo p{
  text-align: left;
  padding-left: 1rem;
}

.abilities{
  list-style: none;
  text-align: left;
}

.statpad{
  padding-top: 5rem;
}